/* This is using box class to create grid display */
.box{
    display: grid;
    grid-template-rows: repeat(5,250px);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "header header"
    "post1 post2"
    "post3 post4"
    "post5 post6"
    "footer footer";
    background-color:whitesmoke;
    border: solid rgb(235, 13, 32);
    padding: 20px;
    column-gap: 30px;
    row-gap: 30px;
}
.navigation_bar_home_page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* This is using post class to control all elements of it */
.post{
    background-color:cornsilk;
    border: 2px solid rgb(255, 0, 179);
}
#header{
    grid-area: header;
}
#one{
    grid-area: post1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.button{
    color: tomato;
}
#two{
    grid-area: post2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#two>*:nth-child(2){
    color: tomato;
    text-align: center;
}
#three{
    grid-area: post3;
}
#four{
    grid-area: post4;
}
#five{
    grid-area: post5;
}
#six{
    grid-area: post6;
}
#footer{
    grid-area: footer;
}
@media(max-width: 766px){
    body{
        background-color: black;
    }
        .box{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8,250px);
            grid-template-areas:
            "header"
            "post1"
            "post2"
            "post3"
            "post4"
            "post5"
            "post6"
            "footer";
        }
}
