.box2 {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  "header2 header2 header2 header2 header2"
  "one2 one2 one2 one2 column2"
  "two2 two2 two2 two2 column2"
  "three2 three2 three2 three2 column2"
  "four2 four2 four2 four2 column2"
  "footer2 footer2 footer2 footer2 footer2";
  border-color: blueviolet;
  border: solid brown;
  background-color: rgb(124, 139, 68);
  padding: 10px;
}
.navigation_blog_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
.post2 {
  background-color: lightcoral;
  border: solid red;
  padding: 80px;
}

#header2 {
  grid-area: header2;
  font-size: xx-large;
}
#column2 {
  grid-area: column2;
}
#one2 {
  grid-area: one2;
}
#two2 {
  grid-area: two2;
}
#three2 {
  grid-area: three2;
}
#four2 {
  grid-area: four2;
}
#footer2 {
  grid-area: footer2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.author{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  line-height: 2em;
}
.bio{
  line-height: 2em;
  display: block;
  letter-spacing: .05em;
  font-style: italic;
}

